/* simple background just to test JS */

.background {
    position: fixed;
    inset: 0;
    z-index: -1;
}

#background-gif {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.app{
  position:fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

#main-title{
  color:white;
  font-size: 18px;
  font-family: "Courier Prime";
  top:20px;
  left:20px;
  z-index:10;
}

#song-title{
  color:white;
  font-size: 16px;
  font-family: "Courier Prime";
  margin-bottom: 15px;
  max-width: 300px

}